<script async src="https://www.googletagmanager.com/gtag/js?id=UA-57833108-2"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());

	/* ReCharge Analytics Code */
	gtag('config', 'UA-57833108-2', {
		linker: {
			domains: ['{{store.domain}}', 'myshopify.com'],
		},
	});
</script>

{% if first_time_load %} {% if store.little_data_integration %}
<!-- littledata integration installed, so skipping google analytics ecommerce event -->
<script>
	gtag('config', '{{store.google_analytics_id}}', {
		linker: {
			domains: ['{{store.domain}}', 'myshopify.com'],
		},
	});
</script>
{% elif store.google_analytics_type == 'UNIVERSAL' and store.google_analytics_id %}

<script>
	gtag('config', '{{store.google_analytics_id}}', {
		linker: {
			domains: ['{{store.domain}}', 'myshopify.com'],
		},
	});

	var items = [];
	{% for item in shopify_order_response_json['line_items'] %}
		items.push({
			id: '{{charge.order_number}}',
			name: '{{item["title"]}}',
			//sku: '{{item["sku"]}}', - sku is not a valid parameter
			category: '{{item["variant_title"]}}',
			price: '{{item["price"]}}',
			quantity: '{{item["quantity"]}}',
		})
	{% endfor %}

	gtag('event', 'purchase', {
		transaction_id: '{{charge.order_number}}',
		affiliation: '{{store.domain}}',
		value: '{{charge.amount}}',
		shipping: '{{ "%.2f"%charge.shipping_amount }}',
		tax: '{{ "%.2f"%charge.tax_amount }}',
		currency: '{{charge.currency}}',
		items,
	});
</script>
{% elif store.google_analytics_id %}
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', '{{store.google_analytics_id}}']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src =
			('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();

	(function(i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		(i[r] =
			i[r] ||
			function() {
				(i[r].q = i[r].q || []).push(arguments);
			}),
			(i[r].l = 1 * new Date());
		(a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m);
	})(window, document, 'script', '//www.google-analytics.com/analytics.js', '_ga');
	_ga('create', 'UA-57833108-2', 'auto', { name: 'rechargeTracker' });
	_ga('rechargeTracker.send', 'pageview');
</script>

{% endif %} {% endif %}
